* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.clTitleBannner {
  padding: 10px 15px;
  width: 100%;
  background: #98ce4279;
  text-align: center;
  color: rgb(99, 34, 34);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.clMagicContainer{
  padding: 5px 5px;
  width:100%;
  overflow: auto;
  background: #ffffff;
}
.clSqContainer {
  float:left;
  padding: 5px 5px;
  width: 160px;
  height: 160px;
  background: #b995c4;
 
}

.clRowSumContainer {
  float: left;
  padding: 5px 5px;
  width: 60px;
  height: 160px;
  background: #796edf;

}

.clColSumContainer {
  float: left;
  padding: 5px 5px;
  width: 160px;
  height: 60px;
  background: #796edf;;

}

.clDiagContainer {
  float: left;
  padding: 5px 5px;
  width: 60px;
  height: 60px;
  background: #440be0;

}
.clNumberBox {
  border-radius:10%;
  margin: 0px;
  padding: 0px 0px;
  background-color: #ddd;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.clSqSelected {
  background: #caeff8;
}
.clSqDone {
  background: #7edba2;
}
.clSqNotDone{
  background: #ddd;
}
.clAllDone {
  float: left;
  padding: 5px 5px;
  width: 280px;
  height: 60px;
  background:  #440be0;
  color: #db958b;
  font-size: 24px;
  text-align: center;
}
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}